<div class="viewUserContainer">
    <h3 class="viewUserText"><i class="fa-solid fa-address-card"></i> User Details</h3>
    <div class="viewUserList">
        <div class="viewDivList">
            <li class="viewListItem">
                Id: <span>{{user.id}}</span>
            </li>
            <li class="viewListItem">
                First Name: <span>{{user.firstname}}</span>
            </li>
            <li class="viewListItem">
                Last Name: <span>{{user.lastname}}</span>
            </li>
            <li class="viewListItem">
               Phone: <span>{{user.phone}}</span>
            </li>
            <li class="viewListItem">
                Email: <span>{{user.email}}</span>
            </li>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/7e99a9e738.js" crossorigin="anonymous"></script>